# === NetPulse Konfiguration ===

# Projektname (wird in Docker angezeigt)
COMPOSE_PROJECT_NAME=netpulse

# Ports
APP_PORT=8000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
BLACKBOX_PORT=9115

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=

# Dashboard
DASHBOARD_TITLE="Monitoring Dashboard"
